<p><%= link_to 'Home', root_path %></p>

<h2>About</h2>

<p>The data I will be using will be extracted from the Faker gem. I will be using two data sets; NBA Basketball & Random Name Generator. From the NBA data set, I will be querying through all of the team and player names. Since the NBA data set does not have enough players to populate each team, the random name generator will be used to fill out the outstanding spots on each team roster.</p>